[Unit]
Description=EdgePi Agent
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=root
ExecStartPre=/opt/edgepi/update
ExecStart=/opt/edgepi/edgepid

[Install]
WantedBy=multi-user.target